<div class="container">
    <!-- CARRUSEL-->
    <div id="carouselExampleFade" class="carousel slide carousel-fade">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://http2.mlstatic.com/D_NQ_888061-MLA69575761018_052023-OO.webp" class="d-block w-100"
                    alt="..." />
            </div>
            <div class="carousel-item">
                <img src="https://http2.mlstatic.com/D_NQ_878493-MLA69574309400_052023-OO.webp" class="d-block w-100"
                    alt="..." />
            </div>
            <div class="carousel-item">
                <img src="https://http2.mlstatic.com/D_NQ_811354-MLA69590524519_052023-OO.webp" class="d-block w-100"
                    alt="..." />
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="textcard">
        <h2 class="u-align-center u-text u-text-1">Testing de Entregable</h2>
    </div>


    <p>Ingresar a: https://web.postman.co/</p>
    <p>Ver lista de Productos en Postman: http://localhost:8080/api/products</p>
    <p>Agregar Productos en Postman: </br>
    <p>
        {
        title: "wdsdfdsfs",
        </br>
        description: "dfsfsds",
        </br>
        code: "ABCcoder.fb11redwww",
        </br>
        price: "432",
        </br>
        stock: "4",
        </br>
        category: "fdsfsd",
        </br>
        thumbnails: [
        "Sin imagen"
        ],
        </br>
        "status": true,
        </br>
        }
    </p>
    </p>

    <p>Actualizar Productos en Postman: http://localhost:8080/api/products/17 </br>
    <p>
        {
        title: "Producto de prueba 17",
        </br>
        description: "Este es un producto de prueba 17",
        </br>
        code: "abc1234567891011121314151617",
        </br>
        price: "432",
        </br>
        stock: "4",
        </br>
        category: "fdsfsd",
        </br>
        thumbnails: [
        "Sin imagen"
        ],
        </br>
        "status": true,
        </br>
        }
    </p>
    </p>
    <p>Ver lista de Productos por ID en Postman: http://localhost:8080/api/products/16</p>
    <p>Ver lista de Productos en el carrito en Postman: http://localhost:8080/api/carts</p>
    <p>Ver Agregar Productos en el carrito en Postman: http://localhost:8080/api/carts/10/product/250</p>
    <p>Ver Agregar Productos en el carrito en Postman: http://localhost:8080/api/carts/100</p>


</div>